@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@700&family=Roboto:wght@400;700&display=swap');
// @import 'libs/slick';

* {
    font-family: 'Averia Libre', cursive;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

h1, h2 ,h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: 'Averia Libre';
}

.line {
    width: 60px;
    height: 5.11px;
    background: #E8C300;
    border-radius: 50px;
    margin: 0 auto;
}

// @import 'blocks'
@import 'blocks/header';
@import 'blocks/sidepanel';
@import 'blocks/media';
@import 'blocks/about';
@import 'blocks/btn';
@import 'blocks/chef';
@import 'blocks/book';
@import 'blocks/slider';
@import 'blocks/menu';
@import 'blocks/events';