.about {
    margin: 100px 0 100px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__descr {
        width: 600px;
        text-align: center;
    }
    &__txt {
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
    }
    &__text {
        padding-top: 30px;
    }
    &__photo {
        position: relative;
    }
    &__img {
        padding-right: 125px;
        img {
            filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
        }
    }
    &__cub {
        position: absolute;
        top: 113px;
        right: 0;
    }
}